*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 231, 221);
}
.container{
    width: 30vw;
    height: 55vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45%;
    left: 50%;
    background-color: rgb(224, 224, 220);
    border-radius: 5px;
}
.container h2{
    color: #333;
    font-size: 2rem;
    text-align: center;
    padding: 15px;
}
.container hr{
    width: 200px;
    border: 1px solid orange;
    margin: auto;
}
form{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: block;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
label{
    font-size: 1.6rem;
}
input{
    width: 350px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
    padding-left: 5px;
    border-radius: 5px;
}
#btn-submit{
    width: 150px;
    height: 35px;
    border: 0;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
}
#btn-submit:hover{
    background-color: #333;
    color: orange;
}
#btn-submit:active{
    background-color: #333;
    color: #fff;
}
form p{
    color: #333;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 10px 0;
}
form span{
    font-size: 1.5rem;
}
footer{
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: #fff;
    font-size: 1.4rem;
}
footer span{
    color: orange;
}
/*Responsive*/
@media only screen and (max-width: 480px){
    .container{
        width: 80vw;
        height: 75vh;
    }
    footer p{
        font-size: 1rem;
    }
  
}