*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #0E0E0F;
  color:#FAFAFA;
  font-family: 'Inter', sans-serif;
  padding: 30px 188px;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  gap: 32px;
}

.team{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 31px;
}

.team span{
  background-color: red;
  border-radius: 50px;
  padding: 12px 32px;
  margin-left: 10px;
  color: #010113;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.title{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
}

.title img{
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.container{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 33% 67%;
  justify-content: space-between;
  grid-gap: 24px;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400;
}

.item{
  background: #1C1C1E;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.item.linha1{
  justify-content: space-between;
  padding: 16px 0;
}

.item.linha1 input{
  cursor: text;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  background: transparent;
  color: #FAFAFA;
  text-align: center;
  width: 35%;
  padding: 10px 0;
  border-bottom: 4px solid #3F46D2;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.item.linha2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}

.checkbox{
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  
}

.checkbox input{
  appearance: none;
  -webkit-appearance: none;
  background: #FAFAFA;
  border: 4px solid #0E0E0F;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox input:checked{
  background: #3F46D2;
  border: 4px solid #0E0E0F;
}

.item.linha2.motivo{
  align-items:flex-start;
}

body .item.linha2.motivo .motivo-title{
  margin-bottom: 25px;
  align-items: center;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.buttons #botao{
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #FAFAFA;
  background: #3F46D2;
  border-radius: 55px;
  padding: 12px 32px;
  cursor: pointer;
}

.buttons #botao:hover{
  color: #FAFAFA;
  background: #8387db;
}

.resultados{
  display: flex;
  flex-direction: column;
  background: #1C1C1E;
  border: 4px solid #5CD65C;
  border-radius: 8px;
  padding-bottom: 32px;
}

.resultados #resultado{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  color: #FAFAFA;
  margin: 32px 0 40px 0;
}

.especificacao{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 33% 67%;
  justify-content: space-between;
  grid-gap: 24px ;
  margin: auto;
}

.item-especificacao{
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 205px;
  height: 60px;
  padding: 10px 40px 10px 7px;
  background: #0E0E0F;
  border-left: 4px solid #5CD65C;
  border-radius: 8px;
}

